.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 7.2rem 0;
}

.plan_tabs {
  display: flex;
  align-items: center;
}

.plan_tabs button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  width: 9.6rem;
  height: 5.2rem;
  font-size: 1.6rem;
  font-weight: bold;
  background: #f1f1f1;
  color: #666;
  margin-right: 0.8rem;
}

.plan_tabs button:last-child {
  margin-right: 0;
}

.plan_tabs button.active {
  background: #fff;
  border: 3px solid var(--primary01);
  color: var(--primary01);
}

.plan_box_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.plan_box_wrap .plan_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(50% - 1rem);
  height: 56.8rem;
  padding: 4.4rem;
  border-radius: 1rem;
}

.plan_box_wrap .plan_box.basic_plan {
  border: 2px solid #000;
  background: #fff;
}

.plan_box_wrap .plan_box.super_plan {
  background: var(--primary01);
  color: #fff;
}

.plan_box_wrap .plan_box .plan_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5.8rem;
}

.plan_box_wrap .plan_box .plan_top h3 {
  font-size: 3.6rem;
  font-weight: 700;
}

.plan_box_wrap .plan_box .plan_top span {
  font-size: 1.6rem;
  font-weight: 400;
}

.plan_box_wrap .plan_box .plan_top span b {
  font-size: 2.4rem;
  font-weight: 700;
}

.plan_box_wrap .plan_box .plan_top .plan_price_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.plan_box_wrap .plan_box .plan_top .plan_price_wrap .plan_price_cont {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.plan_box_wrap
  .plan_box
  .plan_top
  .plan_price_wrap
  .plan_price_cont
  .plan_price {
  font-size: 2.4rem;
  font-weight: 700;
}

.plan_box_wrap .plan_box .plan_top .plan_price_wrap .plan_price_cont b {
  font-size: 1.6rem;
  font-weight: 400;
}

.plan_box_wrap
  .plan_box
  .plan_top
  .plan_price_wrap
  .plan_price_cont
  .plan_month {
  font-size: 1.6rem;
  font-weight: 400;
}

.plan_box_wrap .plan_box .plan_top .plan_price_wrap .plan_ori_price {
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: line-through;
}

.plan_box_wrap .plan_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40.8rem;
}

.plan_box_wrap .plan_box .plan_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.plan_box_wrap .plan_box .plan_info h4 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.plan_box_wrap .plan_box .plan_info ul {
  display: block;
}

.plan_box_wrap .plan_box .plan_info ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #444;
  margin-bottom: 1rem;
}

.plan_box_wrap .plan_box.super_plan .plan_info ul li {
  color: #fff;
}

.plan_box_wrap .plan_box .plan_info ul li svg {
  font-size: 1.5rem;
  margin-right: 1.4rem;
}

.plan_box_wrap .plan_box .plan_info ul li span {
  font-size: 1.7rem;
  font-weight: 400;
}

.plan_box_wrap .plan_box .plan_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7.2rem;
}

.plan_box_wrap .plan_box .plan_btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.plan_box_wrap .plan_box.basic_plan .plan_btn a {
  background: #000;
  color: #fff;
}

.plan_box_wrap .plan_box.super_plan .plan_btn a {
  background: #fff;
  color: var(--primary01);
}

@media screen and (max-width: 1024px) {
  /**************
       Plan
    **************/
  .plan_tabs button {
    width: 8.2rem;
    font-size: 1.5rem;
  }

  .plan_tabs button.active {
    border-width: 2px;
  }

  .plan_box_wrap .plan_box {
    padding: 3.4rem;
  }

  .plan_box_wrap .plan_box .plan_top h3 {
    font-size: 2.8rem;
  }

  .plan_box_wrap
    .plan_box
    .plan_top
    .plan_price_wrap
    .plan_price_cont
    .plan_price {
    font-size: 2rem;
  }

  .plan_box_wrap .plan_box .plan_top .plan_price_wrap .plan_price_cont b {
    font-size: 1.4rem;
  }

  .plan_box_wrap
    .plan_box
    .plan_top
    .plan_price_wrap
    .plan_price_cont
    .plan_month {
    font-size: 1.4rem;
  }

  .plan_box_wrap .plan_box .plan_top .plan_price_wrap .plan_ori_price {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 640px) {
  .header_flex {
    flex-direction: column;
    align-items: flex-start;
    padding: 4.4rem 0 3.2rem;
  }

  .header_tit_wrap {
    margin-bottom: 2.4rem;
  }

  .plan_tabs {
    width: 100%;
  }

  .plan_box_wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .plan_box_wrap .plan_box {
    width: 100%;
    min-height: 40rem;
    height: auto;
    margin-bottom: 1.2rem;
  }

  .plan_box_wrap .plan_box:last-child {
    margin-bottom: 0;
  }

  .plan_box_wrap .plan_box .plan_top {
    margin-bottom: 3.4rem;
  }

  .plan_box_wrap .plan_box:last-child {
    margin-bottom: 0;
  }

  .plan_box_wrap .plan_box .plan_top {
    margin-bottom: 3.4rem;
  }
}
