NEXT_PUBLIC_API_URL=http://localhost:8987/
NEXT_PUBLIC_AUTH_SECRET=replace-me
NEXT_PUBLIC_KAKAO_CLIENT_ID=replace-me
NEXT_PUBLIC_KAKAO_REDIRECT_URL=http://localhost:3000/kakaologin/
NEXT_PUBLIC_NAVER_CLIENT_ID=replace-me
NEXT_PUBLIC_NAVER_REDIRECT_URL=http://localhost:3000/naverlogin/
NEXT_PUBLIC_NAVER_SECRET_KEY=replace-me
NEXT_PUBLIC_KAKAO_CLIENT_SECRET=replace-me
NEXT_PUBLIC_GOOGLE_CLIENT_ID=replace-me
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=replace-me
NEXT_PUBLIC_GOOGLE_REDIRECT_URL=http://localhost:3000/googlelogin/
NEXT_PUBLIC_TOSS_CLIENT_KEY=replace-me
